#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with dkms

override_dh_auto_build:
	make debian/dkms debian/install debian/changelog

override_dh_auto_install:

override_dh_install:
	dh_install --exclude .svn --exclude .git

override_dh_auto_clean:
	rm -f debian/install
	rm -f debian/dkms

