#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

pkg-version = $(shell dpkg-parsechangelog | sed -r '/^Version:/!d;s/^[^:]+:\s+//')

%:
	dh $@ --with dkms

override_dh_auto_build:

override_dh_auto_install:
	sed -r 's/__VERSION__/$(pkg-version)/' debian/install.in > debian/install
	sed -r 's/^(PACKAGE_VERSION=).*$$/\1\"$(pkg-version)"/' dkms.conf.in > debian/dkms

override_dh_install:
	dh_install --exclude .svn

override_dh_auto_clean:
	rm -f debian/install
	rm -f debian/dkms

