# Hone logging service for systemd

[Unit]
Description=Hone Packet-process Logging Daemon
## If using dkms to build hone, the following lines should be uncommented
#Conflicts=hone.service
#After=dkms.service
## and the following line should be commented.
Conflicts=hone-dkms.service
Before=network.target

[Service]
UMask=0027
ExecStartPre=/usr/bin/modprobe hone
ExecStart=/usr/bin/honeread -a -s 96 /var/log/hone.pcapng
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

